* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	overflow-x: hidden;
	background-color: #f0f1f0;
}
/*parent element for all content*/
.container {
	position: relative;
}
/*its left side naviagtion block*/
.sidebar {
	transition: 1s ease-in;
	position: absolute;
	top: 0;
	left: 0;
	display: grid;
	align-content: baseline;
	justify-items: center;
	grid-row-gap: 30px;
	width: 5vw;
	background-color: #384756;
	height: 100vh;
	z-index: 2;
}
/*new width for sidebar*/
.sidebar-active {
	width: 15vw;
}
.sidebar i {
	font-size: 30px;
}

/*site logo*/
.sidebar .logo {
	display: grid;
	align-items: center;
	justify-content: center;
	color: #b4b9bd;
	width: 100%;
	height: 5vw;
	background-color: #2a3642;
}

/* new logo wich showes when sidebar is big */
.logo-active {
	content: url(./assets/image1.png);
	width: fit-content;
	height: 50px;
}
.some-link {
	width: 80%;
	text-decoration: none;
	color: #fff;
}
/*container for all element exept sidebar*/
.content-container {
	margin-left: 5vw;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 20px;
}

.header {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	justify-content: space-evenly;
	background-color: #fff;
	height: 10vh;
	width: 95vw;
	font-size: 20px;
}
.header-search {
	width: 90vw;
	height: 100%;
	border: none;
	outline: none;
}
.header i {
	color: #b4b9bd;
}
/*here i removed default image from <i> and setted MAGETIC AI logo*/

.header .fa-search {
	position: absolute;
	left: 7vw;
	font-size: 1.2em;
	top: 3vh;
}
.fa-user-circle {
	font-size: 1.4em;
}
/*its main content section*/
.main-content {
	height: 85vh;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 10px;
	/* grid-template-rows: minmax(500px, 80vh); */
}
/*left part of main content section*/
.activity {
	background-color: #fff;
}
/*right part of main content section*/
.veichles {
	background-color: #fff;
}

/*display: none class*/
.dn {
	display: none;
}
